@import url(https://oulrum.github.io/oulrumblogcontent/css/reset.css);
@import url(https://oulrum.github.io/oulrumblogcontent/css/variaveis.css);

body {
    background-color: rgb(10, 0, 26);
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}

.centralizar {
    align-items: center;
    justify-content: center;
}

.oculto {
    display: none;
}
