.menu .menu__item a {
    color: white;
    margin-right: 10px;
}

.menu .menu__item:hover {
    background-color: rgba(0, 0, 0, .5);
    text-decoration: underline;
}


/* Menu Mobile */

@media (max-width: 600px) {
    .menu__lista {
        flex-direction: column;
    }

    .menu .menu__item {
        font-size: 2rem;
        margin-bottom: 2rem;   
        transition: all .5s;
    }
    
    .menu .menu__item:hover {
        background-color: rgba(0, 0, 0, .5);
        padding: 10px 30px;
        text-align: center;
        border-radius: var(--arredondamento);
        text-decoration: none;
    }
    
    .menu__conteudo {
        background-color: var(--cor-principal);
        position: fixed;
        top: 64px;
        right: -300px;
        bottom: 0;
        width: 300px;
        transition: all .5s;
    }

    .menu {
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
    
    .menu__botao, .menu__botao::after, .menu__botao::before {
        display: block;
        background-color: white;
        height: 10px;
        width: 50px;
        border-radius: 10px;
        cursor: pointer;
        transition: all .5s;
    }
    
    .menu__botao::after {
        content: "";
        margin-top: 16px;
    }
    
    .menu__botao::before {
        content: "";
        margin-top: -13px;
    }
    
    .menu__check:checked ~ .menu__botao {
        transform: rotate(45deg);
    }
    
    .menu__check:checked ~ .menu__botao::after {
        transform: rotate(90deg) translateX(-12px);
    }
    
    .menu__check:checked ~ .menu__botao::before {
        opacity: 0;
    }
    
    .menu__check:checked ~ .menu__conteudo {
        right: 0;
    }
}



