.posters__titulo {
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
}

.posters__conteiner {
    flex-direction: column;
}

.poster__imagem {
    width: 100%;
    border-radius: var(--arredondamento);
}

.poster, .post-outer {
    background-color: var(--cor-posts);
    border-radius: var(--arredondamento);
    margin-bottom: 10px;
    padding: 5px;
    flex-direction: column;
    justify-content: space-between;
}

.poster__titulo, .post-title {
    color: white;
    font-size: 1.2rem;
}

.poster__descricao {
    font-size: .8rem;
    line-height: 18px;
    color: pink;
}

.poster__botao {
    display: block;
    background-color: thistle;
    border-radius: var(--arredondamento);
    height: 30px;
    margin: 10px 5px 0 5px;
    text-align: center;
    padding: 8px;
    box-sizing: border-box;
    color: rgb(37, 37, 37);
}

@media (min-width: 600px) {
    .posters__conteiner {
        flex-direction: row;
        justify-content: space-between;
    }

    .poster {
        width: 23%;
    }
}
