.posters__titulo {
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
}

.poster__imagem {
    width: 100%;
    border-radius: var(--arredondamento);
}

.blog-posts {
    display: flex;
    flex-direction: column;
}

@media (min-width: 600px) {
    .blog-posts {
        flex-direction: row;
        justify-content: space-between;
    }

    .date-outer {
        width: 23%;
    }
}
