.rodape {
    height: 64px;
    text-align: center;
    background-color: var(--cor-principal);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.rodape__texto {
    color: white;
}
